*{
    background-color: beige;
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    color: brown;
    background-color: beige;
    padding: 15px 75px;
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
}



.header nav a{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: brown;
    padding: 6px 20px;

}

.ah{
    color: brown;
    text-align: center;
    
}

.ap1{
    width: 500px;
    color: brown;
    

}

.ol1{
    color: brown;

}